.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    background-color: #f8f8f8;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.button {
    padding: 14px 28px;
    background-color: #ff7043;
    color: white;
    border: none;
    border-radius: 999px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.button:hover {
    background-color: #f16a3f;
}